:root {
	--panel-width: 200px;
	--border-ridge: 3px;
	--margin-body: 30px;
	--text-field: 40px;
	--text-padding: 10px;
	--roomDescription: white;
	--lootCommon: grey;
	--lootUncommon: white;
	--lootMasterwork: white;
	--lootMagic: green;
	--lootSuperior: blue;
	--lootEpic: purple;
	--lootSet: limegreen;
	--lootArtifact: orange;
	--lootCursed: red;
}
body {
	margin: var(--margin-body);
	background-image: url(/images/viking1.jpg);
}
span {
	font-style: normal;
}
#main {
	width: calc(100vw - calc(var(--margin-body) * 2) - calc(var(--border-ridge) * 2));
	height: calc(100vh - calc(var(--margin-body) * 2) - calc(var(--border-ridge) * 2));
	border: ridge var(--border-ridge) black;
	display: flex;
	color: white;
	font-family: "Cutive Mono", monospace;
}
#primary {
	width: calc(100% - var(--panel-width) - calc(var(--border-ridge) * 2));
	height: calc(100% - 0px);
	display: inline-block;
	background: black;
	overflow: hidden;
}
#panel {
	width: var(--panel-width);
	border: ridge var(--border-ridge) black;
	height: calc(100% - calc(var(--border-ridge) * 2));
	background: black;
}
#txtScreen {
	height: calc(100% - calc(var(--border-ridge) * 2) - var(--text-field) - calc(var(--text-padding) * 2) - 40px);
	padding: var(--text-padding);
	overflow: auto;
	padding-bottom: 50px;
}
#commandArea {
	height: 40px;
	background: red;
	border: groove var(--border-ridge) black;
}
#commandLine {
	border: none;
	height: 100%;
	width: 100%;
	padding: var(--text-padding);
	line-height: 20px;
}
#commandLine::placeholder {
	color: grey;
}

//text styles
.normal {
	color: white;
}
.playerCommand {
	color: #ddd;
}
.serverCommand {
	color: #aaa;
}
.adminCommands {
	color: limegreen;
}
//spell schools
.abjuration {
	color: #ede786;
}
.alteration {
	color: #c26800;
}
.auspex {
	color: #6a5b7a;
}
.charm {
	color: #0666d6;
}
.conjuration {
	color: #dab522;
}
.divination {
	color: #cdabc4;
}
.enchantment {
	color: #0666d6;
}
.evocation {
	color: #df1901;
}
.illusion {
	color: lightgrey;
}
.invocation {
	color: #df1901;
}
.necromancy {
	color: darkgrey;
}
.phantasm {
	color: #624d73;
}
.summoning {
	color: #618c0a;
}
.transmutation {
	color: #c26800;
}
//quality
.common {
	color: var(--lootCommon);
}
.uncommon {
	color: var(--lootUncommon);
}
.masterwork {
	color: var(--lootMasterwork);
	font-style: italic;
}
.magic {
	color: var(--lootMagic);
}
.superior {
	color: var(--lootSuperior);
}
.epic {
	color: var(--lootEpic);
}
.set {
	color: var(--lootSet);
}
.artifact {
	color: var(--lootArtifact);
}
.cursed {
	color: var(--lootCursed);
}

@media only screen and (max-width: 600px) {
	#panel {
		display: none;
	}
	#primary {
		width: calc(100%);
		font-size: x-large;
	}
}
